<div class="sidebar" *ngIf="!isHomeRoute()">
  <a routerLink="/" class="logo">
    Puissance<span class="six"> 6</span>
  </a>

  <a routerLink="/list" routerLinkActive="active" class="nav-button">
    <i class="fas fa-list"></i> Liste des parties
  </a>

  <a routerLink="/create" routerLinkActive="active" class="nav-button">
    <i class="fas fa-plus"></i> Créer une partie
  </a>

  <a routerLink="/rules" routerLinkActive="active" class="nav-button">
    <i class="fas fa-book"></i> Règles
  </a>
</div>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
